.LogSignBackground {
    display: flex; 
    justify-content: center;
    background-color: #212225;
    color: #63DCFB;
    padding: 10%;
}

.logInForm {
    width: 320px;
    height: 316px;
    min-width: 320px;
    top: -3327px;
    left: -547px;
    padding: var(--sds-size-space-600);
    gap: var(--sds-size-space-600);
    border-radius: var(--sds-size-radius-200);
    border: var(--sds-size-stroke-border);
}

.signUpForm {
    width: 350px;
    height: 276px;
    min-width: 320px;
    top: -3801px;
    left: -361px;
    padding: var(--sds-size-space-600);
    gap: var(--sds-size-space-600);
    border-radius: var(--sds-size-radius-200);
    border: var(--sds-size-stroke-border);
    opacity: 0px;
}

.headOne {
    font-size: 200%;
    font-weight: bold;

    display: flex;
    justify-content: center;
}

.headTwo {
    font-size: large;
    align-content: center;
}

.signUpCard {

    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    gap: 24px;

    position: relative;
    width: 400px;
    min-width: 320px;
    height: 400px;

    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 8px;

}

.signUpBox {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;

    width: 272px;
    height: 70px;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

}


.signUpTitle {
    font-size: 150%;
    color:black;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.signUpSubTitle {
    font-size: 90%;
    color:black;
    font-weight: bold;
    display: flex;
    justify-content: center;

}

.input {
    border: 1px solid #6f6868;  
    padding: 0px;
    border-radius: 8px;
    transition: border-color 0.3s ease; 
    width: 275px; 

}

.submitButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px;
    gap: 8px;
    
    width: 350px;
    height: 40px;
    background: #2C2C2C;
    border: 1px solid #2C2C2C;
    border-radius: 8px;
    flex: none;  
    order: 1;
    flex-grow: 1; 
    color:aliceblue;
    
}







