
.movieList {
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 20px;
    flex-wrap: wrap;
    flex: 1;
    overflow-y: auto;
    min-height: 0;
}


.movieCard {
    width: 440px;
    height: 280px;
    background-color: #3D3E47;
    border: 1px solid #93BCC7;
    border-radius: 8px;
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 16px;
    position: relative;
}


.imagePlaceholder {
    width: 160px;
    height: 224px;
    background: #E3E3E3;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333;
}


.title {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 120%;
    color: #D9D9D9;
    margin: 0;
}


.synopsis {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #D2D2D2;
    margin-top: 8px;
}


.services {
    display: flex;
    gap: 10px;
    margin: 10px 0;
}

.serviceIcon {
    width: 25px;
    height: 25px;
    opacity: 0.4;
    background: #B2B3C8;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
}


.genres {
    display: flex;
    gap: 10px;
    margin-top: 8px;
}

.genreTag {
    width: 65px;
    height: 20px;
    background-color: #D3DFE4;
    border-radius: 3px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #1B112F;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}


.editButton {
    background-color: #5163B1;
    color: #F3F3F3;
    border: none;
    border-radius: 8px;
    padding: 12px 24px;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    margin-top: auto;
}

.deleteButton {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

.deleteButton:hover {
    background: rgba(0, 0, 0, 0.7);
}
