.SearchBar {
    background-color: #222235;
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    color: #7f8290;
    padding: 20px; /* Add padding for spacing */
}

.searchGroup {
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
}

.searchInput {
    color: #222235;
    padding: 10px 20px; /* Adjust padding for better spacing */
    border-radius: 5px;
    margin: 0 10px; /* Add margin to separate from buttons */
    width: 500px;
}

.searchButton {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-right: 10px; /* Add margin to separate from input */
}

.filterButton {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-left: 10px; /* Add margin to separate from input */
}

.newButton {
    background-color: #7f8290;
    color: #222235;
    font-size: 85%;
    font-weight: bold;
    padding: 7px 15px;
    border-radius: 20%;
    margin: 10px;
}

.resultsContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

.resultItem {
    display: flex;
    align-items: center;
    background-color: #333;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
    cursor: pointer;
}

.resultItem:hover {
    background-color: #444;
}

.moviePoster {
    width: 50px; /* Adjust  size  */
    height: auto;
    margin-right: 10px;
}

.movieDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}